body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 16px;
	background-size: 100%;
	color: white;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.error {
	margin-left: 5px;
	color: red;
}

#contributors {
	display: none;
}

div {
	margin-bottom: 10px;
}

#repo-autocomplete {
	width: 300px;
	height: 36px;
	padding-left: 5px;
}

.ui-autocomplete-input {
	width: 300px;
}

input[type='text'] {
	font-size: 16px;
}

canvas {
	background-color: white;
	margin: 10px auto;
}

