{% extends 'base.html.twig' %}

{% block title %}GitHub{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/github.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="js-github">
        <h1>Choose a GitHub Repo</h1>
        <label>Choose repo:</label> <input type="text" class="js-autocomplete" placeholder="Username/[repo match]"/>
        <span class="js-error"></span>
        <div class="js-canvas"></div>
    </div>
{% endblock %}
