{% extends 'base.html.twig' %}

{% block title %}GitHub{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/github.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="js-github">
        <div id="repo">
            <h1>Choose a GitHub Repo</h1>
            <label>Choose repo:</label> <input type="text" class="autocomplete"  placeholder="Username/[repo match]"/>
            <span class="error"></span>
        </div>
        <div id="contributors">
            <label>Contributors:</label>
            <div class="canvas"></div>
        </div>
    </div>
{% endblock %}
